.sidebar {
  width: 250px;
  height: 100vh;
  background: #f4f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-radius: 20px 0 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.globe {
  font-size: 18px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: 0.3s;
  position: relative;
}

.menuItem:hover {
  background: #e9e9ef;
}

.active {
  background: linear-gradient(90deg, #db1f38, #d80541);
  color: white;
}

.badge {
  margin-left: auto;
  background: #f5184b;
  color: white;
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 6px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 18px;
}